%html.default
  .edit-user-wrapper
    = render "devise/shared/error_messages", resource: resource
    .edit-user-wrapper__container
      %h2 プロフィール編集
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .edit-user-wrapper__container__username.edit-form-item
          = f.text_field :username,placeholder: "あなたのお名前(10文字以内)",maxlength: "10", class:"user-edit-input"
        .edit-user-wrapper__container__image.edit-form-item
          %label.label
            .lead
              = "プロフィール画像選択"
            = f.file_field :imag, class:"user-edit-image"
            = fa_icon 'image', class: "edit-image"
        .edit-user-wrapper__container__profile.edit-form-item
          = f.text_area :profile,maxlength: "60",placeholder: "あなたの紹介文", class:"user-edit-area"
        .edit-user-wrapper__container__email.edit-form-item
          = f.email_field :email, autocomplete: "email",placeholder: "あなたのメールアドレス", class:"user-edit-input"
        .edit-user-wrapper__container__pass.edit-form-item
          = f.password_field :current_password, autocomplete: "current-password",placeholder: "更新するにはパスを入力願います", class:"user-edit-input"
        .edit-user-wrapper__container__submit.edit-form-item
          = f.submit '更新', class:"user-edit__submit"