%html.signup-body
  .signup-wrapper
    = render "devise/shared/error_messages", resource: resource
    .signup-wrapper__container
      %h2 新規登録
      = form_for(resource, as: resource_name, url: user_registration_path,method: :post) do |f|
        .new_user__field.new_user__username
          .alert お名前の入力をお願いします。
          = f.text_field :username, autofocus: true, class: "new_user__input user-username",placeholder: "  あなたのお名前(10文字以内)",maxlength: "10"
        .new_user__field.new_user__email
          .alert メールアドレスの入力をお願いします。
          = f.email_field :email, autofocus: true, class: "new_user__input user-email",placeholder: "  あなたのメールアドレス"
        .new_user__field.new_user__pass
          .alert パスワードの入力をお願いします。
          = f.password_field :password, autocomplete: "off", class: "new_user__input user-pass",placeholder: "  あなたのパスワード(6文字以上)"
        .new_user__field.new_user__passcon
          .alert パスワードの再入力をお願いします。
          = f.password_field :password_confirmation, autocomplete: "off", class: "new_user__input user-passcon",placeholder: "  もう一度パスワード入力願います"
        = f.submit "新規登録", class: 'btn-signup'