%html.default
  %body
    .emotions-new-wrapper
      %h2 
        = "”#{@book.title}” を好きなわけ"
      .emotions-new-wrapper__list
        .emotions-new-wrapper__list__view
          .emotions-new-wrapper__list__view__data
            .emotions-new-wrapper__list__view__data__image
              = image_tag(@book.image_url, size: "186x276")
            .data
              .title
                = params[:title]
                .user
                  = "この本が好きな人:"
                  .name
                    = current_user.username
                  .day
                    = Date.today.to_time.strftime("%y年%m月%d日")
              .lead
                = "本への思い"
                = form_with model:@emotion,url: emotions_path, method: :post,local: true,class: 'emotion_create_form' do |f|
                  = f.text_area :body,class: 'emotion-area',maxlength: "200"
                  = f.hidden_field :bid, value: params[:bid]
                  = f.text_field :tag_list,class: 'tag-area', value: @emotion.tag_list.join(','),placeholder: "タグ付け(感動,シリアス)",maxlength: "8"
                  = f.submit '登録'