.body
  = form_with(model: @map, url:maps_path ,class:"map_form",method: :GET) do |f|
    = f.text_field :address, id: 'address'
    = f.submit "移動"
  .map#map{:style => "width: 55%; height: 660px;"}

  .btn
    とりあえず
  .haikei

  .fooorm
    .fooormcon
      = form_with(model: @map, url: maps_path, method: :post, local: true) do |f|
        = f.text_field :address
        = f.text_field :latitude
        = f.text_field :longitude
        = f.text_area :memori,placeholder: "思い出を記録しよう！！"
        = f.file_field :images, multiple: true
        = f.submit '打ち込み！！！！'
      .fomdele
        けせるか？