%html.default
  %body
    .mybest-book-wrapper
      %h2 
        = "”#{@user.username}”のマイベストブック！"
      .mybest-book-wrapper__list
        - @user_emotions.each do |emotion|
          .mybest-book-wrapper__list__view
            .mybest-book-wrapper__list__view__data
              .mybest-book-wrapper__list__view__image
                = link_to(image_tag(emotion.book.image_url, size: "226x316"),book_path(emotion.book.id))
            .mybest-book-wrapper__list__view__emotion
              - if emotion.tag_list.length != 0
                = render 'emotions/tag_list', tag_list: emotion.tag_list
              .lead
                .title
                  = emotion.book.title
                .edit
                  = link_to edit_emotion_path(emotion.id) do
                    = fa_icon "edit"
                .delete
                  = link_to emotion_path(emotion.id),method: :delete do
                    = fa_icon "trash"
              .label
                = "好きなわけ:"
              .body  
                = simple_format(emotion.body)
          .mybest-book-wrapper__list__heading
            = "”#{emotion.book.title}” を ”好きな人が好きな本”"

          - @book_users = emotion.book.users.where.not(id: emotion.user.id).order("RAND()").limit(5)
          - @other_users = []
          - @book_users.each do |user|
            - if user.books.length > 1
              - @other_users.push(user)
          - @other_books = []
          - 5.times do
            - if @other_users.length == 0
              - break
            - user = @other_users.sample
            - other_book = user.books.where.not(id: emotion.book.id).order("RAND()").limit(1)
            - @other_books.push(other_book)
            - @other_users.delete(user)
          .mybest-book-wrapper__list__view-other    
            - @other_books.each do |book|
              .mybest-book-wrapper__list__view-other__list
                .mybest-book-wrapper__list__view-other__list__image
                  = link_to(image_tag(book[0].image_url,size: "128x192"), book_path(book[0].id))
                .mybest-book-wrapper__list__view-other__list__title
                  = book[0].title
            - if @other_books.length == 0
              .yohaku

    = paginate @user_emotions