%html.default
  .page_about-wrapper
    .page_about-wrapper__left
      .page_about-wrapper__left__content
        .page_about-wrapper__left__content__icon-title
          .icon
            = fa_icon "search"
          .title
            %h2= "”好きな本” を みんなと共有しよう！"
        .page_about-wrapper__left__content__descript
          .first
            = "あなたのマイベストな本を検索"
          .second
            = "好きな”理由・体験”を書いてマイベストに登録しましょう。"
      .page_about-wrapper__left__image
        .image
          = image_tag("about.jpg",size: "670x390")
    .page_about-wrapper__right
      .page_about-wrapper__right__content
        .page_about-wrapper__right__content__icon-title
          .icon
            = fa_icon "bookmark"
          .title
            %h2.b="あなたのマイベストブックス！"
        .page_about-wrapper__right__content__descript
          .first
            = "”あなたが好きな本” からおすすめの本も表示されます。"
          .second  
            = "好きな本から、また別の本へと繋がります。"
      .page_about-wrapper__right__content
        .page_about-wrapper__right__content__icon-title
          .icon
            = fa_icon "history"
          .title
            %h2.c= "読書履歴！"
        .page_about-wrapper__right__content__descript
          .first
            = "どの本を読んできたか歴史が分かります。"
          .second
            = "本の検索結果から読書ボタンを押して履歴登録できます！"
            = fa_icon "book"
          
      .page_about-wrapper__right__content
        .page_about-wrapper__right__content__icon-title
          .icon
            = fa_icon "commenting"
          .title
            %h2.d= "他のユーザーが好きな本！"
        .page_about-wrapper__right__content__descript
          = "好みが合う人はフォローしましょう。"
          = fa_icon "user-circle"
      .page_about-wrapper__right__content
        .page_about-wrapper__right__content__icon-title
          .icon
            = fa_icon "user"
          .title
            %h2.e="マイページ！"
        .page_about-wrapper__right__content__descript
          .first
            = "読書グラフ・フォローユーザーの直近マイベスト・読書履歴が表示されます。"
      .page_about-wrapper__right__content
        .page_about-wrapper__right__content__icon-title
          .icon
            = fa_icon "map"
          .title
            %h2.e="聖地巡礼！！"
        .page_about-wrapper__right__content__descript
          .first
            = "自分の好きな本の舞台に旅行したら写真と思い出を投稿しましょう！！"
          .second
            = "住所を入力して、マップの行った場所をクリック！！！！！！！！！"
          - if user_signed_in?
          - else
            .last
              = "早速ログインして使ってみて下さい！"
            .btn
              = link_to "ログイン",new_user_session_path
