%html.default
  .a
    = fa_icon "search"
    %h2.a= "あなたの好きな本を好きな理由を記録しよう！！！"
    = "あなたの好きな本を検索！！！"
    = "好きな理由を登録！！！！"
  .a
    = fa_icon "bookmark"
    %h2.b="あなただけのマイベストブックス！！"
    = "あなたの好きな本を好きな人が好きな本が表示！！"
  .a
    = fa_icon "book"
    %h2.c= "読書履歴を残そう！！！"
    = "いつどの本をどの順番で読んできたか、わかる！！"
  .a
    = fa_icon "commenting"
    %h2.d= "色々な人の好きな本を好きな理由が見れる！！"
    = "趣味があいそうな人はフォーロしよう！！"
  .a
    = fa_icon "user"
    %h2.e="マイページ！！"
    = "あなたのマイページにフォローしたユーザのマイベスト・読書履歴が表示される！"
    = "早速ログインした使ってみよう！！！"
