%html.default
  %head
    = Gon::Base.render_data
  %body
    %h2.page_show_title
      = "”#{@user.username}”さんのマイページ"
    .page-show-wrapper
      .page-show-wrapper__mypage
        .page-show-wrapper__mypage__image
          -if @user.image.attached?
            -if current_user.id == @user.id
              = link_to(image_tag(@user.image,size:"128x128"),edit_user_registration_path(@user.id))
            -else
              = image_tag(@user.image,size:"128x128")
          -else 
            -if current_user.id == @user.id
              = link_to(image_tag("default.png"),edit_user_registration_path(@user.id))
            -else
              = image_tag("default.png")
        .page-show-wrapper__mypage__best-book
          .page-show-wrapper__mypage__best-book__lead
            = "最初のベスト本!"
          -if @fast_best_book != nil
            .page-show-wrapper__mypage__best-book__image
              = link_to(image_tag(@fast_best_book.image_url,size: "148x228"),book_path(@fast_best_book.id))
      
      .page-show-wrapper__side
        %ul.tab_ul
          %li.tab_li
            %a.current.tab1.tab_a{href:"#tab1"}= "直近読書履歴"
          %li.tab_li
            %a.tab2.tab_a{href:"#tab2"}
              = "フォローユーザー"
              %br
              = "直近マイベスト"
          %li.tab_li
            %a.tab3.tab_a{href:"#tab3"}
              = "フォローユーザー"
              %br
              = "直近読書履歴"
          %li.tab_li
            %a.tab4.tab_a.chart{href:"#tab4"}
              .title
                = "読書量グラフ"      
              .icon  
                = fa_icon 'bar-chart'

        .page-show-wrapper__side__content.contents
          .tab1#tab1.tab_b
            - @readed_books.each do |book|
              .data
                .image
                  = link_to(image_tag(book.image_url,size: "138x198"),book_path(book.id))
                .title-synops
                  .title
                    = book.title
                  .synopsis
                    = "あらすじ"
                    %hr
                    .synopsis__body
                      = book.synopsis
          .tab2#tab2.tab_b
            - @othere_emotions.each do |emotion|
              .data
                .image
                  = link_to(image_tag(emotion.book.image_url,size: "138x198"),book_path(emotion.book.id))
                .title-name-emotion
                  .title-name
                    .title
                      = emotion.book.title
                    .name
                      = link_to(emotion.user.username,page_path(emotion.user.id))
                  .emotion
                    = "好きな理由"
                    %hr
                    .emotion__body
                      = emotion.body
          .tab3#tab3.tab_b
            - @othere_reads.each do |read|
              .data
                .image
                  = link_to(image_tag(read.book.image_url,size: "138x198"),book_path(read.book.id))
                .title-name-crated-synopsis
                  .title-name-created
                    .title
                      = read.book.title
                    .name
                      = link_to(read.user.username,page_path(read.user.id))
                    .created
                      = read.created_at.strftime("%y.%m.%d")
                  .synopsis
                    = "あらすじ"
                    %hr
                    .synopsis__body
                      = read.book.synopsis
          .tab4#tab4.tab_b
            .data
              %canvas#read_chart