%html.default
  %body
    .mybest-book-wrapper
      %h2 
        = "”#{@book.title}” について"
      .mybest-book-wrapper__list
        .mybest-book-wrapper__list__view
          .mybest-book-wrapper__list__view__data
          .book-show__date__view__image
            .mybest-book-wrapper__list__view__image-show
              = image_tag(@book.image_url, size: "226x316")
              .mybest-book-wrapper__list__view__image-show__syno-title
                .title
                  .title__text
                    = @book.title
                .book-show__date__view__synopsis
                  .lead
                    = "あらすじ" 
                  %hr
                  .body
                    = simple_format(@book.synopsis)
        - if @other_books.length != 0
          .book-show__other-book
            .mybest-book-wrapper__list__heading
              = "”#{@book.title}” を ”好きな人が好きな本”"
            .mybest-book-wrapper__list__view-other
              - @other_books.each do |book|
                .mybest-book-wrapper__list__view-other__list
                  .mybest-book-wrapper__list__view-other__list__image
                    = link_to(image_tag(book.image_url,size: "128x192"),book_path(book.id))
                  .mybest-book-wrapper__list__view-other__list__title
                    = book.title

      .book-show__other-user