!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MyBestBooks
    = Gon::Base.render_data
    = csrf_meta_tags
    = csp_meta_tag
    %script{async: "", defer: "defer", src: "https://maps.googleapis.com/maps/api/js?key=" + Rails.application.credentials.dig(:google, :maps_access_key_id) + "&callback=initMap"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"}
  %body
    // = render 'layouts/flash'
    %header.devise-box
      %h2
        = link_to root_path do 
          = "MyBest_Books"
      %ul.devise-box__nav.nav-menu
        - if user_signed_in?
          .arrow_content
            %li.devise-box__nav__edit.two 
              = link_to user_path(current_user.id) do
                = fa_icon 'bookmark', class: "two-btn"
            %p.arrow_box
              = "#{current_user.username}さんのマイベスト！"
          .arrow_content
            %li.devise-box__nav__edit.two 
              = link_to reads_path do
                = fa_icon 'history', class: "two-btn"
            %p.arrow_box 
              読書履歴！
              %br
              = "#{current_user.username}さんが、今まで読んできた本の履歴です。"
              %br
              読んだ本を検索・読書マークを押して、
              %br
              履歴に追加しましょう！
          .arrow_content
            %li.devise-box__nav__edit.two 
              = link_to emotions_path do
                = fa_icon 'commenting', class: "two-btn"
            %p.arrow_box 
              みんなの本への思い!
              %br
              他のユーザーのマイベスト本とその理由の一覧です。
              %br
              好みが合うユーザーはフォローしましょう！
          .arrow_content
            %li.devise-box__nav__edit.two 
              = link_to page_path(current_user.id) do
                = fa_icon 'user', class: "two-btn"
            %p.arrow_box
              マイページ! 
              %br
              フォローユーザーの最新の、
              %br
              マイベスト・読書履歴が分かります。
              %br
              = "また「#{current_user.username}」さんの、"
              %br
              読書量もグラフで確認出来ます！
          .arrow_content
            %li.devise-box__nav__edit.two 
              = link_to maps_path do
                = fa_icon 'map', class: "two-btn"
            %p.arrow_box 
              聖地巡礼! 
              %br
              マイベスト本の舞台を旅して、
              %br
              写真と一緒に思い出を投稿しましょう！
          %li.three
            %ul
              %li.devise-box__nav__edit  
                = link_to destroy_user_session_path, method: :delete do
                  = fa_icon 'sign-out', class: "two-btn"
              %p.arrow_box ログアウト
        - else
          .three
            %li.devise-box__nav__edit.outer-btn
              = link_to '新規登録', new_user_registration_path
            %li.devise-box__nav__edit.outer-btn
              = link_to 'ログイン', new_user_session_path, class:"session-link"
      - if current_user != nil
        .component-field#app
          %router-view
        %hr.nav-hr
        = javascript_pack_tag 'main'
        = stylesheet_pack_tag 'main'
    = yield
