!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AppName
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/flash'
    %header.devise-box
      %ul.devise-box__nav
        %li.devise-box__nav__edit.one 
          = link_to '本を探す',new_book_path
        %li.devise-box__nav__edit.two 機能2
        - if user_signed_in?
          %li
            = link_to current_user.username, root_path
          %li.three
            %li.devise-box__nav__edit
              = link_to 'プロフィール変更', edit_user_registration_path
            %li.devise-box__nav__edit  
              = link_to 'ログアウト'     , destroy_user_session_path, method: :delete
        - else
          %li.three
            %li.devise-box__nav__edit
              = link_to '新規登録', new_user_registration_path
            %li.devise-box__nav__edit 
              = link_to 'ログイン', new_user_session_path
    = yield
